<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script> 
  // to delete we should end this fetch api to the server
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      // ajax request bcz we do it by js not a web form
      fetch(endpoint, {
        method: 'DELETE', // this so we can handle delete requests
      })
      .then(response  => response.json()) // the json whit the redirect propery is back inside here but we can't readily use so we need to take that json sata like this by returning another promise wereby it passes this data json int a js object that we can use
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>